
@{
    ViewBag.Title = "ShowAllMessages";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;

}

<h2>Tüm Mesajlar</h2>
<br />

<table class="table table-bordered table-active">
    <thead>
        <tr>
            <th>#</th>
            <th>Gönderen Ad Soyad</th>
            <th>Email</th>
            <th>Konu</th>
            <th>Sil</th>
            <th>Mesajı Aç</th>
        </tr>
    </thead>

    <tbody>


        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger">Sil</a> </td>
                <td>
                    <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-outline-info">
                        Mesajı Aç
                    </a>
                </td>
            </tr>

        }

    </tbody>

</table>
<a href="/Message/Index" class="btn btn-success"> Okunmamış Mesajlara Geri Dön</a>

