@model MyPortfolio_MVC.Models.TblExpertis

@{
    ViewBag.Title = "UpdateExpertise";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlık Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.ExpertiseId)
    <label>Uzmanlık Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />


    <button class="btn btn-outline-primary">Güncelle</button>
    <br />

</form>

